# Mirrors GitHub Actions' secrets
BOT_GH_TOKEN=<get one from github.com/settings/tokens, make sure it's only allowed public_repo>
BOT_GPG_PRIVATE_KEY_PASSPHRASE=<gpg private key passphrase>
BOT_GPG_PRIVATE_KEY="-----BEGIN PGP PRIVATE KEY BLOCK-----
<bot's GPG key>
-----END PGP PRIVATE KEY BLOCK-----"
